#### Concatenating all header files

In [ ]:
import pandas as pd

In [ ]:
# dictionary of the lists of files from each year
files = {
    2018: [
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_0.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_1.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_2.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_3.csv",
    ],
    2019: [
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_0.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_1.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_2.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_3.csv",
    ],
    2020: [
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_0.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_1.csv",
        r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_2.csv"
    ]
}

##### Sample data in each part of header

In [6]:
# assigns first 5 rows of each header parts into dataframe
sample_dfs = {}

for year, file_list in files.items():
    for f in file_list:
        df = pd.read_csv(f, nrows=5)
        sample_dfs[f] = df

In [8]:
# eda
year, file_list = next(iter(files.items()))

eda_df = pd.read_csv(file_list[0], nrows=5)
eda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 34 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   identifier                             5 non-null      int64
 1   carrier_code                           5 non-null      object
 2   vessel_country_code                    5 non-null      object
 3   vessel_name                            5 non-null      object
 4   port_of_unlading                       5 non-null      object
 5   estimated_arrival_date                 5 non-null      object
 6   foreign_port_of_lading_qualifier       5 non-null      object
 7   foreign_port_of_lading                 5 non-null      object
 8   manifest_quantity                      5 non-null      int64
 9   manifest_unit                          5 non-null      object
 10  weight                                 5 non-null      int64
 11  weight_unit                            5 non-null      object
 12  measurement                            5 non-null      int64
 13  measurement_unit                       0 non-null      float64
 14  record_status_indicator                5 non-null      object
 15  place_of_receipt                       5 non-null      object
 16  port_of_destination                    0 non-null      float64
 17  foreign_port_of_destination_qualifier  0 non-null      float64
 18  foreign_port_of_destination            0 non-null      float64
 19  conveyance_id_qualifier                5 non-null      object
 20  conveyance_id                          5 non-null      int64
 21  in_bond_entry_type                     0 non-null      float64
 22  mode_of_transportation                 5 non-null      object
 23  secondary_notify_party_1               5 non-null      object
 24  secondary_notify_party_2               0 non-null      float64
 25  secondary_notify_party_3               0 non-null      float64
 26  secondary_notify_party_4               0 non-null      float64
 27  secondary_notify_party_5               0 non-null      float64
 28  secondary_notify_party_6               0 non-null      float64
 29  secondary_notify_party_7               0 non-null      float64
 30  secondary_notify_party_8               0 non-null      float64
 31  secondary_notify_party_9               0 non-null      float64
 32  secondary_notify_party_10              0 non-null      float64
 33  actual_arrival_date                    5 non-null      object
dtypes: float64(14), int64(5), object(15)
memory usage: 1.5+ KB

In [10]:
# displays sample of each header parts
for name, df in sample_dfs.items():
    print(f"\n{name}")
    display(df)
# if we concat them, we have to remove the column for part1, part2, and part3


# sees all columns
pd.set_option('display.max_columns', None)

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_0.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,201801010,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",21,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-15
1,201801011,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",3,CAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-15
2,201801012,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",59,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-15
3,201801013,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",168,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-15
4,201801014,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",9,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-15

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_1.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2018041121933,PNEP,FR,CMA CGM LA TRAVIATA,"New York/Newark Area, Newark, New Jersey",2018-04-02,Schedule K Foreign Port,"Bremerhaven,Federal Republic of Germany",1,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-03
1,2018041121934,TSVC,PA,EVER LUCKY,"New York/Newark Area, Newark, New Jersey",2018-03-26,Schedule K Foreign Port,"Le Havre,France",12,CAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-10
2,2018041121935,NPNE,BS,MOL COURAGE,"Los Angeles, California",2018-04-08,Schedule K Foreign Port,"Laem Chabang,Thailand",618,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-09
3,2018041121936,WFSO,JP,MOL COURAGE,"Los Angeles, California",2018-04-08,Schedule K Foreign Port,"Laem Chabang,Thailand",3760,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-09
4,2018041121937,FMSW,PT,MSC MICHELA,"Long Beach, California",2018-04-02,Schedule K Foreign Port,"Sines,Portugal",42,PKG,...,FMSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04-10

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_2.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2018071163409,GSSW,BS,QUETZAL ARROW,"Port Manatee, Florida",2018-07-09,Schedule K Foreign Port,"Sao Francisco do Sul,Brazil",400,UNT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09
1,2018071163410,GSSW,BS,QUETZAL ARROW,"Port Manatee, Florida",2018-07-09,Schedule K Foreign Port,"Sao Francisco do Sul,Brazil",800,UNT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09
2,2018071163411,GSSW,BS,QUETZAL ARROW,"Port Manatee, Florida",2018-07-09,Schedule K Foreign Port,"Sao Francisco do Sul,Brazil",800,UNT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09
3,2018071163412,GSSW,BS,QUETZAL ARROW,"Port Manatee, Florida",2018-07-09,Schedule K Foreign Port,"Sao Francisco do Sul,Brazil",600,BDL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09
4,2018071163413,GSSW,BS,QUETZAL ARROW,"Port Manatee, Florida",2018-07-09,Schedule K Foreign Port,"Sao Francisco do Sul,Brazil",500,UNT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-09

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2018\header\ams__header_2018__202001290000_part_3.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2018100651992,SEAU,LR,AS VEGA,"Wilmington, North Carolina",2018-10-04,Schedule K Foreign Port,"Puerto Cortes,Honduras",561,BOX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-05
1,2018100651993,MANY,MT,X-PRESS MONTE BIANCO,"New York, New York",2018-06-10,Schedule K Foreign Port,"Casablanca,Morocco",1200,CAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-26
2,2018100651994,MANY,MT,X-PRESS MONTE BIANCO,"New York, New York",2018-06-10,Schedule K Foreign Port,"Casablanca,Morocco",2400,CAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-26
3,2018100651995,DSVF,US,YORKTOWN EXPRESS,"Charleston, South Carolina",2018-09-06,Schedule K Foreign Port,"Bremerhaven,Federal Republic of Germany",30,PKG,...,HLCU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-08
4,2018100651996,DSVF,PA,NYK DAEDALUS,"Los Angeles, California",2018-08-17,Schedule K Foreign Port,"Stadersand,Federal Republic of Germany",1,PKG,...,ONEY,SSLL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-18

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_0.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,201901010,OOLU,FR,CMA CGM FIGARO,"Oakland, California",2017-10-08,Schedule K Foreign Port,"Tanjung Priok,Indonesia",834,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-10
1,201901011,AEHS,JP,MOL COMMITMENT,"Los Angeles, California",2018-01-28,Schedule K Foreign Port,"Singapore,Singapore",60,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-30
2,201901012,EXDO,PA,EVER LUCKY,"Norfolk, Virginia",2018-03-28,Schedule K Foreign Port,"Rotterdam,Netherlands",3350,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-30
3,201901013,EXDO,PA,EVER LUCKY,"Norfolk, Virginia",2018-03-28,Schedule K Foreign Port,"Bremerhaven,Federal Republic of Germany",642,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-30
4,201901014,EXDO,PA,EVER LUCKY,"Norfolk, Virginia",2018-03-28,Schedule K Foreign Port,"Bremerhaven,Federal Republic of Germany",2743,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-30

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_1.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2019040621913,OOLU,PA,OOCL OAKLAND,"Seattle, Washington",2019-04-05,Schedule K Foreign Port,"Shekou,China (Mainland)",50176,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-05
1,2019040621914,OOLU,PA,OOCL OAKLAND,"Seattle, Washington",2019-04-05,Schedule K Foreign Port,"Shekou,China (Mainland)",11,BOX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-05
2,2019040621915,ASTI,GR,MAERSK EXETER,"Long Beach, California",2019-04-04,Schedule K Foreign Port,"Ningpo ,China (Mainland)",949,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-05
3,2019040621916,FLXT,PA,OOCL OAKLAND,"Seattle, Washington",2019-04-06,Schedule K Foreign Port,"Hong Kong,Hong Kong",4018,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-05
4,2019040621917,ONEY,HK,MOL BRILLIANCE,"Long Beach, California",2019-04-04,Schedule K Foreign Port,"Hong Kong,Hong Kong",335,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-05

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_2.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2019070888900,HLCU,MH,BALTIC NORTH,"Tacoma, Washington",2019-07-07,Schedule K Foreign Port,"Tokyo ,Japan",403,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-07
1,2019070888901,HLCU,MH,BALTIC NORTH,"Tacoma, Washington",2019-07-07,Schedule K Foreign Port,"Tokyo ,Japan",490,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-07
2,2019070888902,HLCU,MH,BALTIC NORTH,"Tacoma, Washington",2019-07-07,Schedule K Foreign Port,"Tokyo ,Japan",51687,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-07
3,2019070888903,HLCU,MH,BALTIC NORTH,"Tacoma, Washington",2019-07-07,Schedule K Foreign Port,"Tokyo ,Japan",4437,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-07
4,2019070888904,MLGD,MH,BALTIC NORTH,"Tacoma, Washington",2019-07-11,Schedule K Foreign Port,"Tokyo ,Japan",99,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-07

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2019\header\ams__header_2019__202001080000_part_3.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2019100726821,SVDL,DE,CHICAGO EXPRESS,"Savannah, Georgia",2019-10-05,Schedule K Foreign Port,"La Spezia,Italy",1608,CTN,...,YMLU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-05
1,2019100726822,GNSI,DE,CHICAGO EXPRESS,"Savannah, Georgia",2019-10-03,Schedule K Foreign Port,"La Spezia,Italy",11,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-05
2,2019100726823,GNSI,PA,NYK NEBULA,"Savannah, Georgia",2019-11-02,Schedule K Foreign Port,"La Spezia,Italy",990,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-05
3,2019100726824,GNSI,PA,NYK NEBULA,"Savannah, Georgia",2019-11-02,Schedule K Foreign Port,"La Spezia,Italy",950,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-05
4,2019100726825,ONEY,DE,CHICAGO EXPRESS,"Savannah, Georgia",2019-10-05,Schedule K Foreign Port,"La Spezia,Italy",1940,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-05

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_0.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,202001060,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",18,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
1,202001061,SWOE,US,PRESIDENT EISENHOWER,"Oakland, California",2019-08-09,Schedule K Foreign Port,"Shanghai ,China (Mainland)",16,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
2,202001062,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",568,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
3,202001063,OOLU,SG,THALASSA ELPIDA,"Savannah, Georgia",2019-08-27,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",242,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-27
4,202001064,OOLU,TW,EVER LOYAL,"Savannah, Georgia",2019-09-03,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",317,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_1.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2020041624268,MAEU,US,MAERSK PITTSBURGH,"New York/Newark Area, Newark, New Jersey",2020-04-14,Schedule K Foreign Port,"Nhava Sheva,India",6,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15
1,2020041624269,MAEU,US,MAERSK PITTSBURGH,"New York/Newark Area, Newark, New Jersey",2020-04-14,Schedule K Foreign Port,"Nhava Sheva,India",6,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15
2,2020041624270,MAEU,US,MAERSK PITTSBURGH,"New York/Newark Area, Newark, New Jersey",2020-04-14,Schedule K Foreign Port,"Nhava Sheva,India",23,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15
3,2020041624271,MAEU,US,MAERSK PITTSBURGH,"New York/Newark Area, Newark, New Jersey",2020-04-14,Schedule K Foreign Port,"Nhava Sheva,India",7,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15
4,2020041624272,MAEU,US,MAERSK PITTSBURGH,"New York/Newark Area, Newark, New Jersey",2020-04-14,Schedule K Foreign Port,"Nhava Sheva,India",9,CTN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15

..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\2020\header\ams__header_2020__202009291500_part_2.csv

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,...,secondary_notify_party_2,secondary_notify_party_3,secondary_notify_party_4,secondary_notify_party_5,secondary_notify_party_6,secondary_notify_party_7,secondary_notify_party_8,secondary_notify_party_9,secondary_notify_party_10,actual_arrival_date
0,2020071550160,BANQ,US,MAERSK MONTANA,"New York/Newark Area, Newark, New Jersey",2020-07-09,Schedule K Foreign Port,"Rotterdam,Netherlands",782,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-10
1,2020071550161,WWSU,BS,WESTWOOD OLYMPIA,"Everett, Washington",2020-07-14,Schedule K Foreign Port,"Pusan,South Korea",100,CRT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-14
2,2020071550162,BANQ,US,MAERSK MONTANA,"Norfolk, Virginia",2020-07-11,Schedule K Foreign Port,"Rotterdam,Netherlands",1443,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-05
3,2020071550163,WWSU,BS,WESTWOOD OLYMPIA,"Everett, Washington",2020-07-14,Schedule K Foreign Port,"Pusan,South Korea",20,PKG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-14
4,2020071550164,BANQ,US,MAERSK MONTANA,"Norfolk, Virginia",2020-07-11,Schedule K Foreign Port,"Rotterdam,Netherlands",1403,PCS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-05

##### Concatenating

In [11]:
# combined header file
output = r"..\data\bronze_raw\CBP AMS Shipping Data\raw-layer\ams_header_combined.csv"
chunk_size = 500000

##### Time took for concatenating the files: 9m 49.1s

In [12]:
# new updated chunking for all years
first = True

for year, file_list in files.items():
    for f in file_list:
        for chunk in pd.read_csv(f, chunksize=chunk_size):
            
            # add the year column
            chunk["source_year"] = year

            # write chunk to output
            chunk.to_csv(
                output,
                mode="a",
                index=False,
                header=first
            )
            first = False

C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, chunksize=chunk_size):
C:\Users\stanl\AppData\Local\Temp\ipykernel_26892\1769752864.py:6: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.